/* 给所有div添加字体样式 */
*{
	font-size: 36px;
	margin-bottom: 12px;
}

#outrel{
	color: blueviolet;
	text-shadow: 2px 2px 5px red;
}
.yellow{
	background-color: yellow;
}

#span1{
	border: 3px dashed palevioletred;
}
#span2{
	border: 3px solid palevioletred;
}